<div class="header">
  <mat-toolbar color="primary">
    <span>Chat Room</span>
    <span class="header__spacer"></span>

    <button
      mat-raised-button
      class="header__icon"
      (click)="loginWithGoogle()"
      *ngIf="!(isLoggedIn$ | async); else loggedIn"
    >
      Login
    </button>
    <ng-template #loggedIn>
      <a
        class="header__link"
        [routerLink]="['/chat']"
        routerLinkActive="router-link-active"
        >Chat</a
      >
      <button mat-raised-button class="header__icon" (click)="signOut()">
        Logout
      </button>
    </ng-template>
  </mat-toolbar>
</div>
